<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>443803541018-su0v8fgl68jhnvl1udrsuc8ep7bdgcgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443803541018-su0v8fgl68jhnvl1udrsuc8ep7bdgcgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCNG62o3N7OjIzQAIXGkWOlrlGQSLI40P8</string>
	<key>GCM_SENDER_ID</key>
	<string>443803541018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>avacend.TheMove</string>
	<key>PROJECT_ID</key>
	<string>themove</string>
	<key>STORAGE_BUCKET</key>
	<string>themove.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443803541018:ios:d677f3ae59ace890</string>
	<key>DATABASE_URL</key>
	<string>https://themove-3730d.firebaseio.com</string>
</dict>
</plist>